body{
    background-image: url("../imgs/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    font-family: monospace;
}

#perfil{
  background-color: #ffffffbe;
  border: transparent;
  position: relative;
  top: 1em;
  margin-left: 330px;
  margin-right: 330px;
  padding: 10px;
}

h1{
  display: flex;
  flex-direction: column;
  align-items: center;
}